body {
	font-family: arial, helvetica;
	background: url(../paginas/imagenes/venta3.jpg);
	background-size: cover;
    background-attachment: fixed;
}


.index{
	list-style: none;
	padding: 0;
	background: #C0C0C0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.index li a{
	text-decoration: none;
	color: black;
	padding: 20px;
	display: block;
}

.index li{
	display: inline-block;
	text-align: center;
}

.index li a:hover{
	background: #BA6A3F;
}

.conte{
    width: 90%;
    padding: 15px;
}

.info{
    background: #C0C0C0;
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #5B9DB6;
    font-size: 40px;
}

img{
	width: 50%;
}
.imge{
	width: 60%;
	border-image: center;
}

h3{
    color: #3C829C;
    font-size: 30px;
}

@media(min-width:770px)
{
    .info{
        margin: auto;
        width: 80%;
        margin-top: 70px;
        border-radius: 2%;
    }

}

.imge:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}


