body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../imagenes/infor1.jpg);
      
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

.container {

  top: 60px;
  max-width:350px;
  width:100%;
  margin:0 auto;
  position:relative;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: black;
    font-size: 20px;
    background:  #CC2EFA;
    padding: 15px 180px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #8A2908;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
.index{
  list-style: none;
  padding: 3px;
  background: #CC2EFA;
  width: 70%;
  max-width: 600px;
  margin: center;
}

.index li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.index li{
  display: inline-block;
  text-align: center;
}

.index li a:hover{
  background: #F5A9F2;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type="password"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px Arial, sans-serif; }

#contact {
  background: #CEF6F5;
  padding:25px;
  margin:50px 0;
}

#contact h3 {

  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {

  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

#contact h4 a {
  font-size:12px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type="password"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="password"]:hover, #contact input[type="password"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background: #2A120A;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background: red;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}